<!doctype html>
<html>
	<head>
		<title>Get Database</title>
		<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">
	</head>
	<body>
		<script src="https://unpkg.com/vue"></script>
		<script src="https://unpkg.com/axios/dist/axios.min.js"></script>
		{% raw %}
		<div class="container" id="app">
			<div class="col-sm-8 col-sm-offset-2">
				<h2>Copy Overrides</h2>
				<p class="error">{{error}}</p>
				<div class="form-group">
					<label>Server name: {{server}}</label>
					<input type="text" class="form-control" name="server" v-model.trim="server">
				</div>
				<div class="form-group">
					<label>Database name: {{database}}</label>
					<input type="text" class="form-control" name="database" v-model.trim="database" v-on:change="getCoas">
				</div>
				<div v-if="coas.length > 0">
					<label>Source Chart of account</label>
					<table id="coa_list" class="table table-condensed">
						<tr>
							<th>Id</th>
							<th>Name</th>
							<th>Description</th>
						</tr>
						<tr v-for="coa in coas" :key="coa.id" :class="{success: source_coa == coa.id}" v-on:click="getOverrideByCoa(coa.id)">
							<td>{{coa.id}}</td>
							<td>{{coa.name}}</td>
							<td>{{coa.desc}}</td>
						</tr>							
					</table>
				</div>
				<div v-if="coas.length>0">
					<label>Destination Chart of account</label>
					<table id="coa_list" class="table table-condensed">											
						<tr>
							<th>Id</th>
							<th>Name</th>
							<th>Description</th>
						</tr>
						<tr v-for="coa in coas" :key="coa.id" :class="{success: dest_coa == coa.id}" v-on:click="setDestCoa(coa.id)">
							<td>{{coa.id}}</td>
							<td>{{coa.name}}</td>
							<td>{{coa.desc}}</td>
						</tr>
						
					</table>
				</div>
					
				<div v-if="dest_coa != '' && source_coa != ''">
					<label>Overrides <small v-if="override_ids.length > 0">{{override_ids.length}} selected</small></label>
					<table id="override_list" class="table table-condensed">
						<tr>
							<th colspan="2">Id</th>
							<th>Name</th>
							<th>Description</th>
						</tr>
						<tr v-for="override in overrides" :key="override.id" :class="{success: override_ids.indexOf(override.id) >= 0 }">
							<td><input type="checkbox" :name="override.id" :value="override.id" v-model="override_ids"/></td>
							<td>{{override.id}}</td>
							<td>{{override.name}}</td>
							<td>{{override.desc}}</td>
						</tr>
					</table>
				</div>
				<div class="form-group">
					<p>**What is unique in destination CoA** </p>
					<label><input type="radio" value="6" v-model="unique" /> Name</label>
					<label><input type="radio" value="7" v-model="unique" /> Description</label>
				</div>
				<div class="form-group">
					<label>{{num_copy}} {{num_copy>1?'copies':'copy'}} of each override</label>
					<input type="number" step="1" min="1" max="1" class="form-control" v-model="num_copy"/>
				</div>
				<p v-if="override_ids.length > 0">A total of {{ override_ids.length * num_copy}} override will be created</p>
				<a class="btn btn-primary" v-on:click="copyOverrides" href="#" :disabled="!validated" >{{override_ids.length > 0 ? override_ids.length > 1 ? 'Copy ' + override_ids.length + ' overrides' : 'Copy 1 override' : 'No Overrides selected'}}</a>
			</div>
		</div>
		{% endraw %}
		<!-- Latest compiled and minified JavaScript -->
		

		<script>
			var app = new Vue({
			  el: '#app',
			  data: {
				error: '',
				server: 'ncdbng05.dayforce.com',
				database: 'gltcssah',
				unique: '',
				dest_coa: '',
				source_coa: '',
				num_copy: 1,
				coas:[],
				overrides: [],
				override_ids: [],
				
				//for ui
				
				//classes
				success: 'success'
			  },
			  computed:{
				validated: function(){
					return ((this.override_ids.length > 0) && (this.unique == 6 || this.unique == 7))
				}
			  },
			  watch:{
				source_coa: function(){
					this.override_ids.splice(0,this.override_ids.length)
				}
			  },
			  
			  methods:{
				clearSelection: function(){
					this.coas.splice(0,this.coas.length)
					this.override_ids.splice(0,this.override_ids.length)
					this.overrides.splice(0,this.overrides.length)
					this.source_coa=''
					this.dest_coa=''
				},
				getCoas: function(){
					this.clearSelection()
					
					console.log('fetching coas')
					var vm = this
					axios.get('/coa', {
						params: {
						  server: vm.server,
						  database: vm.database
						}
					  })
					  .then(function (response) {
						console.log(response.data.coas)
						vm.coas.splice(0,vm.coas.length)
						response.data.coas.forEach(function(data){
							vm.coas.push(data)
						});
					  })
					  .catch(function (error) {
						console.log(error)
					  });
				},
				getOverrideByCoa: function(coa_id){
					this.source_coa=coa_id
					this.getOverrides()
				}
				,
				getOverrides: function(){
					console.log('getting overrides')
					var vm=this
					axios.get('/overrides',{
						params:{
							coa_id: vm.source_coa
						}
					})
					.then(function (response){
						console.log(response)
						vm.overrides.splice(0,vm.overrides.length)
						response.data.overrides.forEach(function(data){
							vm.overrides.push(data)
						})
					})
					.catch(function (error){
						console.log(error)
					})
				},
				setDestCoa: function(coa_id){
					this.dest_coa = coa_id
				}
				,
				addOverrideToCopy: function(override_id){
					console.log('adding item to list')
					if(override_id)
						this.override_ids.push(override_id)
				},
				copyOverrides: function(){
					console.log('coping..')
					var vm = this
					axios.get('/copy',{
						params:{
							server: vm.server,
							database: vm.database,
							source_coa: vm.source_coa,
							destination_coas: vm,dest_coa,
							override_ids: vm.override_ids.join(', '),
							unique: vm.unique,
							num_copy: vm.num_copy
						}
					})
					.then(function (response){
						console.log(response.data)
						//TOOD: change ui to show confirm and revert buttons
					})
					.catch(function (error){
						console.log(error)
					})
				}
			  }
			})
		</script>
	</body>
</html>